<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <title>Test</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-default">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="/test/ws">Test Client</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>-->

<!--<script type="application/javascript">-->
<!--    const endpoint = "ws://localhost:8091/test";-->
<!--    const login = {username: "user1@mai.ru", password: "user1"};-->

<!--    $.ajax({-->
<!--        type: "POST",-->
<!--        url: endpoint,-->
<!--        data: JSON.stringify(login),-->
<!--        headers: {-->
<!--            'Accept': 'application/json',-->
<!--            'Content-Type': 'application/json'-->
<!--        },-->
<!--        success: function (data) {-->
<!--            const socket = new SockJS("ws://localhost:8091/test");-->
<!--            const stompClient = Stomp.over(socket);-->

<!--            const headers = {-->
<!--                'client-id': 'my-client-id',-->
<!--                'x-auth-token': data.data.token-->
<!--            };-->
<!--            stompClient.connect(headers, function (frame) {-->
<!--                console.log("Connected ?!");-->
<!--                console.log(frame);-->
<!--                stompClient.subscribe(-->
<!--                    "/topic/messages",-->
<!--                    function (message) {-->
<!--                        console.log("Message arrived");-->
<!--                        console.log(message);-->
<!--                    }-->
<!--                );-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->